<div class="w-auto h-auto property-card">
  <p-card
    [header]="'$ ' + getSanitizedValue(propertyDetail.list_price)"
    [subheader]="'# ' + getPropertyId()"
    [style]="{ width: '100%' }"
  >
    <ng-template pTemplate="header">
      <img
        alt="property thumbnail"
        class="property-thumbnail"
        [src]="getHouseThumbnail()"
      />
    </ng-template>
    <div>
      <div class="d-flex flex-column">
        <div class="house-specs">
          {{ getHouseSpecs() }}
        </div>
        <div class="house-specs mt-2">
          {{ getHouseAddress() }}
        </div>
      </div>
    </div>
  </p-card> 
</div>
