<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Title">Review Title</label>
    <input
      type="text"
      class="form-control"
      id="Title"
      formControlName="Title"
      required
    />
  </div>
  <div class="form-group">
    <label for="Detail">Review Details</label>
    <textarea
      class="form-control"
      id="Detail"
      formControlName="Detail"
      rows="5"
    ></textarea>
  </div>

  <div class="button-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary">Cancel</button>
  </div>
</form>
