<div class="map-container bg-danger">
  <google-map [options]="mapOptions" [width]="'100%'" [height]="'100%'">
    <map-info-window
      *ngIf="propertyInfoWindowDetail"
      class="info-window-wrapper"
    >
      <div class="container-fluid p-0">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-4 me-2">
            <img
              [src]="getHouseThumbnail()"
              class="img-fluid house-thumbnail"
            />
          </div>
          <div class="col-7">
            <ul class="list-group p-0 info-window">
              <li class="list-group-item p-0">
                <div class="w-100 house-specs font-bold">
                  $ {{ propertyInfoWindowDetail.list_price | defaulter }}
                </div>
              </li>
              <li class="list-group-item p-0">
                <div class="w-100 house-specs">
                  {{ getHouseSpecs("inner") }}
                </div>
              </li>
              <li class="list-group-item p-0 house-specs">
                <div class="w-100">
                  {{ getHouseSpecs("area") }}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </map-info-window>
    <map-marker
      #marker="mapMarker"
      *ngFor="let markerPosition of markers"
      [position]="markerPosition"
      (mapMouseout)="closeInfoWindow()"
      (mapMouseover)="openInfoWindow(marker)"
      (mapClick)="setSelectedPropertyForPopup(marker)"
    ></map-marker>
  </google-map>
</div>
