<div class="modal-header d-block d-lg-none">
  <div class="px-2 w-100 d-flex justify-content-between align-items-center">
    <p-button
      (onClick)="closeModal()"
      icon="pi pi-chevron-left"
      styleClass="p-button-rounded p-button-text"
    ></p-button>
    <h5 class="text-primary" style="font-weight: 300">HRE</h5>
  </div>
</div>
<!-- ... -->

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="addFavorite({Id: 0, UserId: 1, CompleteAddress: getHouseAddress() })">
    Add to Favorites
  </button>
  <button type="button" class="btn btn-danger" (click)="deleteFavorite(getHouseAddress())">
    Remove Favorite
  </button>
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>

<!-- ... -->




<div class="modal-body h-100">
  <div class="close-button d-lg-block d-none">
    <p-button
      (onClick)="closeModal()"
      icon="pi pi-times"
      styleClass="p-button-rounded p-button-text"
    ></p-button>
  </div>
  <div class="container-fluid h-100 w-100" *ngIf="propertyDetail">
    <div class="row">
      <div class="col-lg-6 col-12 d-none d-lg-flex">
        <div
          class="d-flex flex-wrap image-gallery"
          *ngIf="getHouseImages().length; else noImage"
        >
          <div class="mb-3" *ngFor="let image of getHouseImages()">
            <img [src]="image" class="img-fluid" />
          </div>
        </div>
      </div>
      <div
        class="col-12 d-flex w-100 h-100 d-lg-none d-flex justify-content-center mb-3"
      >
        <ngb-carousel
          class="mobile-image-gallery"
          *ngIf="getHouseImages()?.length; else noImage"
        >
          <ng-template
            ngbSlide
            *ngFor="let image of getHouseImages(); let index = index"
          >
            <div
              class="w-100 img-wrapper d-flex align-items-center justify-content-center"
            >
              <img
                [src]="image"
                alt="property preview image"
                class="d-block img-fluid"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-lg-6 col-12">
        <div class="w-100 image-gallery">
          <h3 class="text-muted">Property details</h3>
          <ul class="list-group px-0 list-group-flush border-0 py-0">
            <li class="list-group-item header-list px-0">
              <div class="w-100 d-flex align-items-end h-100 flex-wrap">
                <span class="property-price d-inline"
                  >$ {{ propertyDetail.list_price | defaulter }}</span
                >

                <span class="ms-lg-2 mt-2 mt-lg-0">{{ getHouseSpecs() }}</span>
              </div>
            </li>
            <li class="list-group-item header-list">
              <span class="price-cut">
                Price cut : ${{
                  propertyDetail.price_reduced_amount | defaulter
                }}
              </span>
            </li>
            <li class="list-group-item header-list">
              <span class="address">
                {{ getHouseAddress() | defaulter }}
              </span>
            </li>
            <li class="list-group-item header-list">
              <div class="property-status d-flex flex-row align-items-center">
                <div
                  [ngClass]="{
                    'indicator-active': getIsDealActive(),
                    'indicator-inactive': !getIsDealActive()
                  }"
                ></div>
                <div class="mx-1"></div>
                <span class="status-text">
                  {{ getIsDealActive() ? "Active" : "In active" }}
                </span>
              </div>
            </li>
          </ul>
          <div class="w-100 mt-3">
            <p-tabView>
              <p-tabPanel header="Overview">
                <div class="overview">
                  <h4>Overview</h4>
                  <div class="d-flex flex-row flex-wrap">
                    <div
                      *ngFor="let tag of propertyDetail.tags ?? []"
                      class="me-2 mb-3"
                    >
                      <p-chip>
                        <span>{{ tag.replaceAll("_", " ") }}</span>
                      </p-chip>
                    </div>
                  </div>
                </div>
                <p>
                  Welcome to "{{ getHouseName() || "apartment" }}" a luxurious
                  apartment nestled in the heart of the city. This exquisite
                  residence boasts a spacious area of
                  {{ getHouseArea() }} square feet, providing ample space for
                  you to relax and unwind. With {{ getHouseBathRooms() }} modern
                  bathrooms, you'll experience the epitome of comfort and
                  convenience.
                </p>
                <!-- If has a bedrooms -->
                <p *ngIf="getHouseBedRooms() > 0">
                  The apartment features {{ getHouseBedRooms() }} stylish
                  bedrooms, each carefully designed to create a tranquil
                  ambiance that promotes restful nights. Wake up to breathtaking
                  views through large windows that bathe the rooms in natural
                  light, adding an extra touch of serenity to your mornings.
                </p>

                <!-- If has a garage -->
                <p *ngIf="getHouseGarage() > 0">
                  "{{ getHouseName() || "The apartment" }}" offers the added
                  advantage of a private garage, ensuring your vehicle is safely
                  tucked away. Whether you're commuting to work or embarking on
                  a weekend getaway, knowing your car is protected gives you
                  peace of mind.
                </p>

                <p>
                  Built with meticulous attention to detail, this architectural
                  masterpiece combines modernity with timeless elegance. The
                  interior boasts high-end finishes, including top-of-the-line
                  appliances and sleek fixtures, creating an atmosphere of
                  refined sophistication. The open-concept layout seamlessly
                  connects the living, dining, and kitchen areas, making it
                  ideal for entertaining guests or simply enjoying quality time
                  with loved ones.
                </p>
              </p-tabPanel>
             
              <p-tabPanel header = "Reviews">
              











  <!-- <h3>Rate the Property:</h3>
  <div>
    <form id="rating-form">
      <label class="star" for="star5" onclick="rateProperty(5)" onmouseover="highlightStars(5)" onmouseout="resetStars()">&#9733;</label>
      <input type="radio" id="star5" name="rating" value="5" style="display: none;">
     
      <label class="star" for="star4" onclick="rateProperty(4)" onmouseover="highlightStars(4)" onmouseout="resetStars()">&#9733;</label>
      <input type="radio" id="star4" name="rating" value="4" style="display: none;">
     
      <label class="star" for="star3" onclick="rateProperty(3)" onmouseover="highlightStars(3)" onmouseout="resetStars()">&#9733;</label>
      <input type="radio" id="star3" name="rating" value="3" style="display: none;">
     
      <label class="star" for="star2" onclick="rateProperty(2)" onmouseover="highlightStars(2)" onmouseout="resetStars()">&#9733;</label>
      <input type="radio" id="star2" name="rating" value="2" style="display: none;">
     
      <label class="star" for="star1" onclick="rateProperty(1)" onmouseover="highlightStars(1)" onmouseout="resetStars()">&#9733;</label>
      <input type="radio" id="star1" name="rating" value="1" style="display: none;">
    </form>
    <span id="rating-message"></span>
  </div> -->
  
  <ng-container *ngIf="reviewList.length">
    <ng-container *ngFor="let item of reviewList">
      <div *ngIf="item.CompleteAddress == propertyDetail.permalink">
        <h3>{{item.Title}}</h3>
        <p>{{item.Detail}}</p>
        <h6>-{{item.Reporter}}</h6>
      </div>
    </ng-container>
  </ng-container>

  <script>
    let currentRating = 0;
  
    function highlightStars(rating) {
      const stars = document.getElementsByClassName('star');
      for (let i = 0; i < rating; i++) {
        stars[i].classList.add('gold');
      }
    }
  
    function resetStars() {
      const stars = document.getElementsByClassName('star');
      for (let i = 0; i < stars.length; i++) {
        stars[i].classList.remove('gold');
      }
    }
  
    function rateProperty(rating) {
      // Perform any necessary actions with the rating
      // For example, you can send the rating to the server or update the UI
  
      // Show a message to the user
      document.getElementById('rating-message').innerText = `You rated the property with ${rating} stars.`;
  
      // Update the current rating
      currentRating = rating;
    }
  </script>
  
  <style>
    .rating-stars {
      font-size: 30px;
    }
  
    .star {
      cursor: pointer;
      transition: color 0.3s;
    }
  
    .star.gold {
      color: gold;
    }
  
    /* Style the radio buttons as stars */
    input[type="radio"][name="rating"] {
      display: none;
    }
  
    input[type="radio"][name="rating"] + label {
      font-size: 30px;
      cursor: pointer;
    }
  
    input[type="radio"][name="rating"]:checked + label {
      color: gold;
    }
  </style> 
              </p-tabPanel>
              <p-tabPanel header="Description">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <i
                        class="pi pi-home"
                        style="font-size: 1.3rem; color: rgb(13, 69, 153)"
                      ></i>
                      <div class="mx-1"></div>
                      <span>{{ getHouseName() }}</span>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <i
                        class="pi pi-stop"
                        style="font-size: 1.3rem; color: rgb(13, 69, 153)"
                      ></i>
                      <div class="mx-1"></div>
                      <span>Area is {{ getHouseArea() }} sqft</span>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <i
                        class="pi pi-check-circle"
                        style="font-size: 1.3rem; color: green"
                      ></i>
                      <div class="mx-1"></div>
                      <span>{{ getHouseBedRooms() }} bedrooms</span>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <i
                        class="pi pi-check-circle"
                        style="font-size: 1.3rem; color: green"
                      ></i>
                      <div class="mx-1"></div>
                      <span>{{ getHouseBathRooms() }} bathrooms</span>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <i
                        class="pi pi-calendar"
                        style="font-size: 1.3rem; color: rgb(13, 69, 153)"
                      ></i>
                      <div class="mx-1"></div>
                      <span>Built in {{ getYearBuiltIn() }}</span>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <i
                        class="pi pi-check-circle"
                        style="font-size: 1.3rem; color: green"
                      ></i>
                      <div class="mx-1"></div>
                      <span>Type : {{ getPropertyType() }}</span>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <i
                        class="pi pi-check-circle"
                        style="font-size: 1.3rem; color: green"
                      ></i>
                      <div class="mx-1"></div>
                      <span>Sub type : {{ getPropertySubType() }}</span>
                    </div>
                  </li>
                </ul>
              </p-tabPanel>
              <p-tabPanel header="Location">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <span class="text-muted" style="font-weight: bold"
                        >COUNTRY</span
                      >
                      <div class="mx-1">-</div>
                      <span>{{ getHouseCountry() }}</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <span class="text-muted" style="font-weight: bold"
                        >STATE</span
                      >
                      <div class="mx-1">-</div>
                      <span>{{ getHouseState() }}</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <span class="text-muted" style="font-weight: bold"
                        >CITY</span
                      >
                      <div class="mx-1">-</div>
                      <span>{{ getHouseCity() }}</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <span class="text-muted" style="font-weight: bold"
                        >STREET</span
                      >
                      <div class="mx-1">-</div>
                      <span>{{ getHouseStreet() }}</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div
                      class="d-flex w-100 flex-row align-items-center justify-content-start description"
                    >
                      <span class="text-muted" style="font-weight: bold"
                        >AREA</span
                      >
                      <div class="mx-1">-</div>
                      <span>{{ getHouseAddressLine() }}</span>
                    </div>
                  </li>
                </ul>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noImage>
  <div
    class="w-100 h-100 d-flex align-items-center justify-content-center"
    style="background-color: rgb(246, 246, 246)"
  >
    <img
      src="https://www.pacificfoodmachinery.com.au/media/catalog/product/placeholder/default/no-product-image-400x400_6.png"
      alt="no image"
      class="img-fluid"
    />
  </div>
  
</ng-template>
